*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    height: 100vh;
    background-image: url(background-image.jpg) ;
    background-size:  cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(219, 224, 154, 0.986), rgba(80, 219, 177));
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo img{
    height: 50px;
    width: 100%;
}
header .navbar ul{
    list-style: none; 
}
header .navbar ul li{
    position: relative; 
    display: inline-block; 
}
header .navbar ul li a{
    padding: 20px;
    color: black;
    display: block;
}
header .navbar ul li a:hover{
    background-color: crimson;
    color: aliceblue;
    border-radius: 10px;
}
header .navbar ul li ul{
    display: none;
    position: absolute;
    left: 0;
    width: 150px;
    background-color: rgb(80, 219, 177);
    border-radius: 10px;
}
header .navbar ul li ul li{
    width: 100%;
}
header .navbar ul li ul li ul{
    left: 150px;
    top: 0;
}
header .navbar ul li ul li .Contact{
    left: -150px;
    top: 0;
}
header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul{
    display: initial;
}

#menubar{
    display: none;
}
header label{
    display: none;
    color: brown;
    cursor: pointer;
    font-size: 20px;

}
@media(max-width:991px){
    header label{
        display: initial;

    }
    header label img{
        height: 50px;
        width: 50px;

    }
    header{
        padding: 20px;
    }
    header .navbar{
        display: none;
        position: absolute;
        left: 0px;
        top: 100%;
        right: 0px;
        background-color: antiquewhite;
        border-top: 1px solid brown;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        width: 100%;
        position: relative;
    }
    header .navbar ul li ul li{
        background-color: burlywood;
    }
    header .navbar ul li ul li ul{
        width: 100%;
    }
    #menubar:checked ~ .navbar{
    display: initial;
    }
}

.card{
    height: 350px;
    width: 18rem;
    background-image: linear-gradient(to right, rgba(219, 224, 154, 0.986), rgba(80, 219, 177));
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 100px;
    float: left;
    box-shadow: 10px 10px 10px black;
}
.card .card-header img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card  .card-body{
    padding: 10px;

} 
.card .card-header, .card-body{
    height: 150px;
    width: 100%;
    border-bottom: 2px solid rgba(219, 224, 154, 0.986);
    text-align: justify;

} 
.card .card-footer{
    height: 50px;
    width: 100%;
}
.btn{
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid;
    padding: 10px;
    margin-top: 4px;
    margin-left: 15px;
    display: inline-block;
    border-radius: 5px;
}
.btn-primary{
    border: 2px solid cornflowerblue;
    background-image: linear-gradient(to right, rgba(101, 105, 40, 0.986), rgb(11, 148, 107));
    color: white;
    font-weight: 700;
    transition: .5s;
}
.btn-primary:hover{
    border: 2px solid rgb(72, 132, 243);
    background-color: rgb(72, 132, 243);
}
